*{
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

.overlay {
	min-height: 660px;
	background: rgba(0,0,0,0.4);
}


#landing-page{
	min-height: 660px;
	width: 1360px;
	margin: 0;
	background-color: #00a74f;
	background-image: url("../images/office-pix.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#pageWrapper {
	padding: 0 !important;
}
#column-right{
	margin-top: 50px;
	margin-left: 150px;
	width: 500px;
	color: #ffffff;
}
#column-right h3{
	text-align: center;
}
#column-right p{
	text-align: center;
}
#column-left{
	margin-top:150px; 
	margin-left: 150px;
	width: 500px;
}
.logo{

}
#column-left h4{
	color: #ffffff;
	margin-top: 50px;
	margin-bottom: 50px;
}

button{
	color: #ffffff;
	width: 150px;
	height: 50px;
}

.left-footer{
	text-align: center;
	font-weight: bold;


}
.left-footer a{
	color: #00a74f;
}
.left-footer h5{
	color: #ffffff;
	margin-top: 50px;
	font-size: 15px;
}
.left-footer p{
	color: #ffffff;
	font-size: 15px;
}
.fa-pencil{
	color: red;
}

hr{
	width: 200px;
	margin: 0 170px;
}
