*{
	padding: 0;
	margin: 0 ;
}
.container-fluid{
	/*background-color: #ffffff;
	min-height: 600px;
	/*max-width: 100%;*/
}

.overlay {
	min-height: 100%;
	background: rgba(0,0,0,0.4);
}

#landing-page{
	position: relative;
	height: 100%;
	/*width: 1360px;*/
	margin: 0;
	background-color: #00a74f;
	background-image: url("../images/office-pix.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 !important;
}

.logo{
	/*margin-top: 50px ;*/
	/*margin-left: 100px;*/
}

#pageWrapper {
	padding: 0 !important;
}	

#login{
	margin-bottom: 150px;
	margin-left: 300px;
	margin-right: 0;
	width: 400px;
	height: 400px;
}

#login h2{
	color: #ffffff;
	font-size: 30px;
	margin-top: 40px;
}

#login p{
	color: #ffffff;
}

#login a{
	font-weight: bold;
	color: #00a74f;
}

#register{
	background-color: #00a74f;
	margin: 0;
	width: 400px;
	height: 400px;
}

hr{
	color: red;
	width: 200px;
	margin: 0 auto;
}
button{
	width: 150px;
	height: 50px;
}

#loginBtn {
	width: 100%;
	text-align: center;
}

.btn-ready{
	color: #ffffff;
	background-color: #00a74f;
}

#signUpCaption {
	margin: 40px 0;
}

#register p{
	font-size: 13px;
	color: #ffffff;
	/*text-align: center;*/
}

#btnHolder {
	margin: 40px 0;
}

#register h2{
	font-size: 30px;
	color: #ffffff;
	margin-top: 80px;
	text-align: center;
}
.btn-danger {
	margin: 0 auto;
	text-align: center;
}
.inner-addon { 
    position: relative; 
}
 
/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon {
 left:  0px;
}

/* add padding  */
.left-addon input {
 padding-left:  30px;
  }
