*{
	padding: 0;
	margin: 0;
}
.container-fluid{
	background-color: #ffffff;
	min-height: 600px;
}
.login-page{
	background-color: #f0f0f0;
	width: 1200px;
	margin: 0 100px;
	max-height: 800px;

	border: 4px solid grey;
}

#login{
	background-color: #ffffff;
	margin-top: 150px;
	margin-bottom: 150px;
	margin-left: 300px;
	margin-right: 0;
	width: 350px;
	height: 300px;
}
#login h2{
	font-size: 30px;
	margin-top: 40px;
}
#login a{
	color: #00a74f;
}
#register{
	background-color: #00a74f;
	margin: 150px 0;
	width: 320px;
	height: 300px;
}

button{
	width: 110px;
}

#loginBtn {
	width: 100%;
	text-align: center;
}
.btn-ready{
	background-color: #00a74f;
}

#register p{
	font-size: 13px;
	color: #ffffff;
	text-align: center;
}
#register h2{
	font-size: 30px;
	color: #ffffff;
	margin-top: 80px;
	text-align: center;
}
.btn-danger {
	margin: 0 auto;
	text-align: center;
}
.inner-addon { 
    position: relative; 
}
 input form{
 	/*width: 10px;*/
 	/*height: 40px;*/
 }
 .btn-danger{

 }
 
 em{
 	color: #d9534f;
 	background-color: #ffffff;
 	font-weight: bold;
 	font-size: 15px;
 }
/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon {
 left:  0px;
}

/* add padding  */
.left-addon input {
 padding-left:  30px;
  }
