*{
	padding: 0;
	margin: 0 ;
}
body {
	font-family: 'Roboto', sans-serif;
}

.overlay {
	min-height: 660px;
	background: rgba(0,0,0,0.4);
}

#landing-page{
	position: relative;
	min-height: 660px;
	margin: 0;
	background-color: #00a74f;
	background-image: url("../images/office-pix.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
	text-align: center;
	margin-top: 50px ;
	margin-left: 400px;
}

#pageWrapper {
	padding: 0 !important;
	margin: 0 !important;
}
.border{
	text-align: center;
}	

#login{
	margin-left: 200px;
	width: 400px;
	height: 400px;
	
}

#login h2{
	color: #ffffff;
	font-size: 30px;
	margin-top: 40px;
}

#login p{
	color: #ffffff;
}

#login a{
	font-weight: bold;
	color: #00a74f;
}

#register{
	background-color: #00a74f;
	height: 400px;
	width: 400px;
}

hr{
	color: red;
	width: 200px;
	margin: 0 auto;
}
button{
	width: 150px;
	height: 50px;
}

#loginBtn {
	width: 100%;
	text-align: center;
}

#signUpCaption {
	margin: 40px 0;
}

#register p{
	font-size: 13px;
	color: #ffffff;
}

#btnHolder {
	margin: 40px 0;
}

#register h2{
	font-size: 30px;
	color: #ffffff;
	margin-top: 80px;
	text-align: center;
}
.btn-danger {
	margin: 0 auto;
	text-align: center;
}
 
/* style icon */
/*.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

 align icon 
.left-addon .glyphicon {
 left:  0;
}

/* add padding  */
/*.left-addon input {
 padding-left:  30px;
  }*/
