* {
	padding: 0;
	margin: 0;
}

body {
	font-family: "Catamaran", sans-serif;
}

#navigation {
	position: fixed;
	z-index: 2;
	margin-bottom: 0;
	margin-top: 0;
	height: 80px;
	line-height: 80px;
	border: none;
	width: 100%;
	background: rgba(0,0,0,0.35);
}


#navigation button {
	border-radius: 0;
	padding: 10px;
	box-sizing: border-box;
}
#navbarLogo {
	width: 200px;
	height: 200px;
}

.pageWrapper{
	max-width: 100%;
	width: 100%;
	padding: 0 !important;
	margin: 0 !important;
}

.navbar .navbar-inverse {
	margin: 0;
}
#logo{
	width: 80px;
	height: 80px;
}

button{
	text-align: center;
	width: 120px;
	height: 50px;
	
}
.carousel-inner{
	max-width: 100%;
	width: 100%;
}
.carousel-caption {
	position: relative;
	top: 300px;
}

.carousel-caption p{
	color: #ffffff;
	text-align: center;
	font-size: 30px;
	margin-top: 150px;
	/*margin: auto auto;*/
}
section{
	max-width: 100%;
	width: 80%;
	margin: 0 auto;
}
#left-image{
	height: 400px;
	margin-top: 80px;
	box-shadow: 6px 5px 6px #888888;
}

#linkBtn{
	width: 200px;
}
.columnHeaderTitle{
	text-align: center;
	margin-top: 100px;
}
.columnHeaderTitle h2{
	font-size: 20px;
}
.columnHeaderTitle h5{
	text-align: left;
	margin-top: 30px;
	margin-left: 30px;
}
.columnHeaders p{
	text-align: center;
}
#text p{
	margin-top: 30px;
	margin-left: 50px;
}

#featuresColumn{
	border: 1px solid whitesmoke;
}
.col-md-3 h4{
	color: #00a74f;
} 
.col-md-3 p{
	color: #000000;
}

.featureItems h3{
	font-size: 20px;
}
a{
	text-decoration: none;
}
.featureItems p{
	text-decoration: none;
}
.moreBtn{
	text-align: center;
}

#taxLogo{
	height: 50px;
}
#withLogo{
	height: 100px;
	width: 200px;
}
footer{
	background: rgba(0,0,0,0.8);
	height: 250px;
	/*overflow: hidden;*/
}

#payroll-logo{
	margin-left: 50px;
	height: 60px;
	width: 150px;
}

#contactLinks ul li {
	color: #bbbbbb;
	list-style: none;
}

#image-content h4{
	margin-top: 80px;
}

.link{
	text-align: center;
}

footer h4 {
	font-size: 20px;
	color: #ffffff;
	margin-top: 30px;
	margin-right: 200px;
	font-weight: bold;
}

footer h4:before {
	content: '';
	position: absolute;
	bottom: 120px;
	width: 30px;
	border-bottom: 2px solid #00a651;
}

footer p {
	color: #bbbbbb;
	font-size: 20px;
}

#footerLogo {
	margin-top: 30px;
	width: 200px;
	height: 50px;
}

.footerColumn p {
	margin: 30px 0 0 0;
	font-size: 15px;
	padding: 5px;
}
.footer a{
	color: #00a74f;
}
.footer{
	background: #000000;
	text-align: center;
}
.footer p{
	color: #ffffff;
	margin-top: 20px;
	font-size: 20px;
}

#footerImage {
	text-align: center;
	width: 100px;
	height: 40px;
	margin: 0 auto;
}
.fa-map-marker{
	margin-top: 20px;
	margin-right: 10px;
	color: red;
}

.fa-envelope-square{
	margin-top: 5px;
	margin-right: 10px;
	color: #00a74f;
}
.fa-phone-square{
	margin-top: 5px;
	margin-right: 10px;
	color: blue;
}
.tax-footer hr{
	width: 240px;
	margin: 0 100px;
	text-align: center;
}


.featureItems {
	background-color: white;
	border-radius: 3px;
	box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.4);
	margin-bottom: 30px;
	padding: 30px 25px 25px 20px;
	text-align: center;
}

.featureItems-icons {
	margin: 0 auto;
	width: 60px;
	height: 60px;
}

.featureItems-title {
	color: #011b33;
	font-size: 1.6rem;
	margin-bottom: 0;
	margin-top: 20px;
}

.featureItems-description {
	font-size: 1.3rem;
	line-height: 1.3;
	margin-bottom: 0;
	color: #000000;
	text-decoration: none;
	
}
