*{
	padding: 0;
	margin: 0;
}
.overlay {
	min-height: 650px;
	background: rgba(0,0,0,0.6);
}
#landing-page{
	position: relative;
	height: 650px;
	margin: 0;
	background-image: url("../images/office-pix.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#pageWrapper {
	padding: 0 !important;
}
/* .over-lay:hoover{
	background-color: rgba(5,3,2,0.8);
} */
.logo{
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 200px;
}

#taxIt{
	background-color: #ffffff;
	margin: 100px auto;
	width: 600px;
	min-height: 400px;
}


.content a{
	position: relative;
	margin: 50px auto;

}
.serviceIcon{
	text-align: center;
}
.col-md-6{
	margin: 0 ;
}
.btn-ready{
	color: #ffffff;
	background-color: #00a74f;
	margin-left: 130px;
	width: 150px;
	height: 50px;
}
.btn-danger{
	color: #ffffff;
	margin-right: 30px;
	width: 150px;
	height: 50px;
}

p{
	text-align: center;

}